<h1><%= @team.name %></h1>
<h2> Team Motto: <%= @team.motto%></h2>
<% @superheros.each do |superhero| %>
  <h2>Hero Name: <%= superhero.name %></h2>
  <p>Hero Power: <%= superhero.power %><br>
  Hero Biography: <%= superhero.bio %></p>
<% end %>